.Header {
	position: fixed;
	top: 0;
	/* max-height: 70px; */
	line-height: 40px;
	width: 100vw;
	display: grid;
	grid-template-areas: "logo nav";

	/* Cosmetics */
	/* background-color: #ffffff; */
	/* background-color: #282c34; */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* margin-bottom: 50px; */
}
.Logo {
	grid-area: "logo";
	height: 70px;
}
.Nav {
	grid-area: nav;
	display: grid;
	grid-template-columns: repeat(5, auto);
	align-items: center;
	/* justify-content: space-evenly; */
	justify-content:right;
}
.Nav a {
	color: #000000;
  /* font-family: 'Courier New', Courier, monospace; */
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 14px;
	font-weight: 500;
	transition: 0.3s;
	text-decoration: none;
  margin-right: 35px;
}
.resume_button{
  margin: 0;
  outline: orange;
  border: orange;
  font-size: 50px;
}
.Nav a:hover {
	transform: scale(1.1);
	/* transform: translateY(100px); */
}

.Nav button {
	padding: 10px;
	outline: none;
	border: none;
	font-size: 14px;
	color: #000000;
	font-weight: 600;
	background-color: rgba(255, 0, 0, 0.5);
	box-shadow: 0px 5px 0px 0px rgba(255, 0, 0, 0.25);
	border-radius: 10px;
	cursor: pointer;
	transition: 0.7s ease;
}
.Nav button:active {
	transform: translateY(3px);
	box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0.25);
}

.Burger {
	display: none;
	grid-area: burger;
	margin: 0 20px 0 0;
	padding: 0;
	justify-self: end;
	font-size: 40px;
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
	transition: 0.1s;
}

.Burger:active {
	transform: scale(1.2);
}

@media (max-width: 700px) {
	.Header {
		grid-template-areas: "logo burger" "nav nav";
	}
	.Nav {
		grid-template-columns: none;
		grid-template-rows: repeat(4, auto);
		grid-row-gap: 20px;
	}
	.Burger {
		display: block;
	}
}
