.Header {
	position: fixed;
	top: 0;
	min-height: 50px;
	/* line-height: 40px; */
	width: 100vw;
	display: grid;
	grid-template-areas: "logo nav";

	/* Cosmetics */
	/* background-color: #ffffff; */
	/* background-color: #282c34; */
	background-color: #ede599;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	/* margin-bottom: 50px; */
	z-index: 100;
}
.Header_scrolled {
	box-shadow: 0 14px 8px 0 rgba(0, 0, 0, 0.2);
}
.Logo {
	grid-area: "logo";
	margin: auto 1.5rem;
	height: 40px;
}
.Nav {
	display: inline;
	grid-area: nav;
	display: grid;
	grid-template-columns: repeat(5, auto);
	align-items: center;
	/* justify-content: space-evenly; */
	justify-content: right;
	font-size: 10px;
	font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
	/* font-family: Georgia, "Times New Roman", Times, serif; */
	text-transform: uppercase;
}

.Nav a {
	/* display: inline; */
	/* color: #000000; */
	/* color: #c7a003; */
	color: #151f1e;
	/* color: #3d4e17; */
	/* font-family: 'Courier New', Courier, monospace; */
	/* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
	/* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
	font-weight: 500;
	transition: 0.1s;
	text-decoration: none;
	margin-right: 1.5rem;
	padding: 6px 15px;
}
.Nav_link {
	/* display: inline; */
	font-size: 120%;
	/* font-weight: bold; */
}

.Nav_number {
	/* color: #ede599; */
	color: #c7a003;
	font-weight: 500;
}

.resume_button {
	margin: 0;
	/* outline: #ede599 solid 1px; */
	outline: #c7a003 solid 1px;
	/* border: #EDE599 solid 1px; */
	border-radius: 4px;
}
.Nav a:hover {
	transform: scale(1.05);
	/* transform: translateY(100px); */
}

.Nav button {
	padding: 10px;
	outline: none;
	border: none;
	font-size: 14px;
	color: #000000;
	font-weight: 600;
	background-color: rgba(255, 0, 0, 0.5);
	box-shadow: 0px 5px 0px 0px rgba(255, 0, 0, 0.25);
	border-radius: 10px;
	cursor: pointer;
	transition: 0.7s ease;
}
.Nav button:active {
	transform: translateY(3px);
	box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0.25);
}

.Burger {
	display: none;
	grid-area: burger;
	margin: 0 20px 0 0;
	padding: 0;
	justify-self: end;
	font-size: 40px;
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
	transition: 0.1s;
}

.Burger:active {
	transform: scale(1.2);
}

@media (max-width: 700px) {
	.Header {
		grid-template-areas: "logo burger" "nav nav";
	}
	.Nav {
		grid-template-columns: none;
		grid-template-rows: repeat(4, auto);
		grid-row-gap: 20px;
	}
	.Burger {
		display: block;
	}
}
