// $font-color: #151f1e;
$font-color: rgba(255,255,255, .7);
$number-color: #c7a003;
$header-font-color: #c0cae9;
$header-font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
	monospace;
$paragraph-font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text";
$computer-style-font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
	monospace;
// fonts, media queries, variables (colors, headings, font sizing)
