@import "fonts";

.Header {
	position: fixed;
	top: 0;
	min-height: 50px;
	/* line-height: 40px; */
	width: 100vw;
	display: grid;
	grid-template-areas: "logo nav";

	/* Cosmetics */
	/* background-color: #ffffff; */
	// background-color: #282c34;
	// background-color: #ede599;
	// background-color: inherit;
	background-color: #7f7f7f;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	/* margin-bottom: 50px; */
	z-index: 100;
	transition: box-shadow 0.5s ease-in-out;
}
.Header_scrolled {
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
	// transition: box-shadow 0.5s ease-in-out;
}
.header_logo {
	grid-area: "logo";
	margin: auto 1.5rem;
	height: 40px;
}
.animate__animated.animate__lightSpeedInLeft {
	--animate-duration: 4s;
}

.Nav {
	display: inline;
	grid-area: nav;
	display: grid;
	grid-template-columns: repeat(5, auto);
	align-items: center;
	/* justify-content: space-evenly; */
	justify-content: right;
	font-size: 10px;
	font-family: $header-font-family;
	// font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
	/* font-family: Georgia, "Times New Roman", Times, serif; */
	text-transform: uppercase;
}

.Nav a {
	/* display: inline; */
	/* color: #000000; */
	/* color: #c7a003; */
	color: $font-color;
	/* color: #3d4e17; */
	/* font-family: 'Courier New', Courier, monospace; */
	/* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
	/* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
	font-weight: 500;
	transition: 0.1s;
	text-decoration: none;
	margin-right: 1.5rem;
	padding: 6px 15px;
}
.Nav_link {
	/* display: inline; */
	font-size: 120%;
	/* font-weight: bold; */
}

.Nav_number {
	/* color: #ede599; */
	color: $number-color;
	font-weight: 500;
}

.resume_button {
	font-size: 120%;
	margin: 0;
	outline: $number-color solid 1px;
	border-radius: 4px;
}
.resume_text {
	color: $number-color;
}
.Nav a:hover {
	transform: scale(1.05);
	/* transform: translateY(100px); */
}

@media (max-width: 700px) {
	.Header {
		grid-template-areas: "logo burger" "nav nav";
	}
	.Nav {
		grid-template-columns: none;
		grid-template-rows: repeat(4, auto);
		grid-row-gap: 20px;
	}
	.Burger {
		display: block;
	}
}
