@import "fonts";

.intro_name {
	font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
	font-size: 0.8rem;
	color: $number-color;
	/* font-weight: bold; */
}

.intro_name_job {
	font-family: Calibre, Inter, "San Francisco", "SF Pro Text";
	font-size: 2rem;
	font-weight: bold;
}

.intro_parag {
	font-family: $paragraph-font-family;
	font-size: 1rem;
	/* font-weight: bold; */
	margin-bottom: -20px;
}

.dad_app_github {
	display: grid;
	justify-content: left;
	// margin-top: -15px;
	// line-height: 100%;
}
.dad_app_github a {
	border: solid 1px $number-color;
	padding: 5px;
	border-radius: 3px;
	color: $number-color;
	text-decoration: none;
}

p {
	font-size: 50%;
}
