@import "fonts";

.projects {
	margin-top: 50%;
	position: relative;
	justify-self: center;
}

.projects_header {
	text-transform: uppercase;
}

.projects_parag {
	font-family: $paragraph-font-family;
}
