.skills {
	margin-top: 50%;
	position: relative;
	width: 100%;
}

.svg {
	// display: inline-block;
	width: auto;
	height: 40px;
	margin: 0px;
	padding: 0px;
}

.svg.expressJs {
	height: 30px;
	width: auto;
	align-self: center;
  margin-bottom: 10px;
}

.svg.mongoDb {
	height: 30px;
	width: auto;
	align-self: center;
  margin-bottom: 10px;
	
}

.svg.Npm {
	height: 30px;
	width: auto;
	align-self: center;
}

.ejs {
	display: inline-flex;
	flex-direction: column;
	// align-self: center;
	color: black;
	height: 30px;
	width: auto;
	margin-top: -5px;
}
.ejs img {
	margin: -10px;
	padding: 0px;
}
.ejs_title {
	font-size: 16px;
	padding-left: 5px;
	margin: -10px;
}

.skills_parag {
	display: flex;
	flex-direction: column;
	justify-content: center;
	// align-items: center;
}

.skills_items {
	display: inline-flex;
	line-height: 50px;
	margin-bottom: 10px;
}

.skills_icons {
	width: 100%;
	display: inline-flex;
	justify-content: space-evenly;
}

